.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#game {
  width: 300px;
  height: 300px;
  border: 1px solid #dadada;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
}

#game > li {
  list-style: none;
  float: left;
  overflow: hidden;
  text-decoration:none;
  width: 100px;
  height: 100px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-right: 1px solid #fff;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#game > li.x {
  font-size: 40px;
  color: #ed4e6e
}

#game > li.o {
  font-size: 40px;
  color: #485b6e;
}

#game > li:hover {
  background: #f9f9f9;
}

#game > li:active {
  width: 100px;
  height: 100px;
  border: 0;
}
